@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap");
:root {
}
* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.header {
  padding: 2rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10000;
}
.header img {
  width: 70px;
}
.icons div {
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
}
.icons div:hover {
  color: #f64b3c;
  cursor: pointer;
}
.navbar {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  background: #f64b3c;
  left: -100%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.navbar.active {
  left: 0;
}
.navbar a {
  display: block;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}
.login-form {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  left: -100%;
  background: #f64b3c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.login-form.active {
  left: 0;
}
.inner-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner-user-form input {
  padding: 1rem 4rem;
  margin: 1rem;
  border-radius: 15px;
  outline: none;
  border: 1px solid #f64b3c;
}
.inner-user-form a {
  padding: 1rem 3rem;
  background: black;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
}
.background-image {
  background: url(./background\ image.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-content-back {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 35%;
}
.inner-content-back h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.inner-content-back p {
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 25px;
}
.inner-content-back a {
  padding: 1rem 5rem;
  background: #f64b3c;
  border-radius: 15px;
  font-size: 1.5rem;
  color: white;
}
.inner-content-back a:hover {
  background: black;
  letter-spacing: 3px;
}
.our-chef {
  background: url(./joinTheBurgerKingTeam.jpg);

  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.our-chef h1 {
  color: #f64b3c;
  font-size: 30px;
  text-align: center;
}

.main-chef {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15rem 0;
}
.main-chef .inner-chef {
  flex: 1 1 300px;
  text-align: center;
}
.inner-chef h2 {
  color: #f64b3c;
  font-size: 25px;
  margin-top: 20px;
  font-weight: bolder;
}
.main-burger {
  background: #f64b3c;
  padding: 3rem 7%;
}
.main-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.menu {
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  margin: 0px 0px 60px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

li {
  margin-right: 50px;
  justify-content: center;
}
.navButton {
  text-align: center;
  background-color: f8f9fb;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  text-decoration: none;
  display: inline;
  border-radius: 15px;
  position: relative;
  margin: 0 0 0 0;
  top: 30px;
  padding: 5px 15px 5px 15px;
  left: 20%;
}

.inner-burger {
  flex: 1 1 45rem;
  padding: 100px 0px 70px 0px;
}
.inner-burger img {
  width: 100%;
}
.inner-burger h1 {
  color: white;
  font-size: 30px;
}
.inner-burger p {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding-right: 3rem;
  margin-bottom: 25px;
}
.inner-burger a {
  padding: 1.5rem 5rem;
  color: #f64b3c;
  border-radius: 15px;
  background: white;
}
.inner-burger a:hover {
  background: black;
  letter-spacing: 3px;
}
.main-burger-amazing {
  padding: 6rem 7%;
  background: url(./background\ shape2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.inner-amazing h1 {
  color: #f64b3c;
}
.inner-amazing p {
  color: #f64b3c;
}
.inner-amazing a {
  background: #f64b3c;
  color: white;
  font-size: 1.5rem;
}
.inner-amazing a:hover {
  background: black;
  letter-spacing: 3px;
}
.statistics {
  background: #f64b3c;
  padding: 3rem 7%;
}
.statistics h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.main-statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.inner-statitics {
  flex: 1 1 300px;
}
.stat-content {
  width: 300px;
  height: 300px;
  border: 2px solid white;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stat-content p {
  color: white;
  font-size: 1.5rem;
}

.popular-packages {
  background: url(./background\ shape2.png);
  padding: 4rem 7%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popular-packages h1 {
  color: #f64b3c;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.main-popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 6rem 0;
}
.inner-popular {
  flex: 1 1 200px;
  text-align: center;
  background: white;
  padding: 3rem 2rem;
}
.inner-popular h2 {
  color: #f64b3c;
  font-size: 2rem;
  margin: 1rem 0;
}
.inner-popular span {
  font-size: 3rem;
  color: #f64b3c;
  display: block;
  font-weight: bolder;
  margin: 0.5rem 0;
}
.inner-popular p {
  color: #f64b3c;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.inner-popular a {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  background: #f64b3c;
  color: white;
}
.inner-popular a:hover {
  background: black;
  border-radius: 15px;
  letter-spacing: 3px;
}

@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .inner-content-back {
    margin: 0 auto;
    width: 90%;
  }

  .background-image {
    width: 10%;
    height: 100vh;
  }
}
